include AUTHORS
include BUGS
include ChangeLog
include INSTALL
include LICENSE
include MANIFEST.in
include NOTICE
include README
include setup.cfg
include setup.py
include scripts/veritar
include scripts/sigtar
recursive-include veritar *.py

